div(align="center")
  font(size="7")
    b Congratulations!
  br
  font(size="6") You completed the quiz with a score of #{quiz.score}%.
  br
  br
  font(size="6") Your are currently at bean counter level #{stats.level} with #{stats.points} points!
