p.
  Bean counter is a fun quiz skill that will help teach simple math on Alexa.

p.
  You can earn points for scoring over eighty percent on a quiz and when you receive enough points you will increase
  your bean counter level and the difficulty of the questions.

p.
  You can launch the skill by simply saying Alexa, open bean counter.  You can also say Alexa, ask bean counter to
  quiz me.

p.
  Would you like to take a quiz?